! special colors
*.foreground:  #ffffff
*.background:  #012128
*.cursorColor:  #e9b3bf
! black
*.color0:      #071d22
*.color8:      #617278
! red
*.color1:      #f8a1aa
*.color9:      #e9b3bf  
*.color2:      #8cc495
*.color10:     #ade1b6
! yellow
*.color3:      #f0e0aa
*.color11:     #fbf1cf
! blue
*.color4:      #8ab6c2
*.color12:     #b5dbe4
! magenta
*.color5:      #94a9d9
*.color13:     #b6cbfa
! cyan
*.color6:      #7eb5ac
*.color14:     #a3d0c8
! white
*.color7:      #b3bec1
*.color15:     #f7f8f8

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

! URxvt*depth: 32
URxvt.background: [99]#012128

URxvt.font: xft:Roboto Mono:size=8.5,xft:DejaVu Sans:size=7
URxvt.boldFont: 
URxvt.letterSpace: 0
URxvt.internalBorder: 80


*antialias:  true
*autohint:   true


Xft.dpi: 102
Xft.antialias: true      
Xft.hinting: true
Xft.rgba: rgb 
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


twobwm.border_width: 8
twobwm.outer_border: 4
twobwm.focus_color: #3a3c4a
twobwm.unfocus_color: #3a3c4a
twobwm.fixed_color: #ffffff
twobwm.unkill_color: #ffffff
twobwm.outer_border_color: #3a3c4a
twobwm.fixed_unkill_color: #ffffff
twobwm.inverted_colors: false
twobwm.enable_compton: true


